{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

    <h2>About</h2>

    <p>Hi! My name is Andrew, I have created this website as my final project for CS50.</p>

    <p>I chose to create this website as I wanted to gain experience using an API whilst creating something useful and relevant.</p>

    <p>Technologies I used to create the website include using Pyhton, HTML, Javascript, bootstrap, flask, JINJA2 and Google Charts.</p>

    <p>Data is provided for free by <a href="https://covid19api.com/">Covid19api.</a></p>

{% endblock %}
